
{# {% block brands %}
<div class="brands_products"><!--brands_products-->
	<h2>Brands</h2>
	<div class="brands-name">
		<ul class="nav nav-pills nav-stacked">
			{% for item in brands %}
				<li><a href="#">{{item.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div><!--/brands_products-->
{% endblock %} #}
